@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
:root{
    --cor_fundo1: #5c3582;
    --cor_fundo2: #4c8e99;
    --cor_fundo3: #5f2c82;
    --cor1: #ffffff;
    --cor2: #00ffff;
    --cor_button: #2d6462;
    --fonte: "Oswald";
}
*{
    margin: 0;
    padding: 0%;
    font-family: var(--fonte);
}
body{
    background: linear-gradient(150deg, var(--cor_fundo1), var(--cor_fundo2));
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    border-radius: 10px;
}
@media (max-width: 860px) {
    body{
        background: var(--cor_fundo3);
    }
    .main{
        display: flex;
        flex-direction: column-reverse;
    }
    .img > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px 15px 15px 15px;
    }
}
.dados_cliente{
    background-color: var(--cor1);
    box-shadow: 1px 1px 1px 1px black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#buttonForm{
    background-color: var(--cor_button);
    color: var(--cor1);
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 15px 0;
    font-size: 1rem;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

#buttonForm:hover{
    transform: translateY(-3px) scale(1.05);
    background-color: #1f4b49;
    border-radius: 5px;
}
.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
}
input[type="email"], 
input[type="password"] {
    background-color: rgb(148, 207, 205);
    padding: 15px;
    border-radius: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
    width: 90%;
}

input[type="email"]:focus, 
input[type="password"]:focus {
    outline: none;
    border: 1px solid var(--cor2);
    box-shadow: 0 0 8px rgba(0, 255, 255, 0.6);
    background-color: var(--cor1);
}
.img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 15px 15px 0;
}
#forgot_password{
   background-color: transparent;
    color: var(--cor2);
    border: 1px solid var(--cor2);
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-size: 0.9rem;
}
#forgot_password:hover{
    background-color: rgb(61, 243, 243);
    transition: 1s;
    color: var(--cor1);
}
#pCenter{
    text-align: center;
}
.campo{
    background-color: var(--cor_fundo3);
    padding: 5px;
    border: 10px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}