@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
:root{
    --cor_fundo1: #5c3582;
    --cor_fundo2: #4c8e99;
    --cor_fundo3: #5f2c82;
    --cor1: #ffffff;
    --cor2: #00ffff;
    --cor_button: #2d6462;
    --fonte: "Oswald";
}
*{
    margin: 0;
    padding: 0;
    font-family: var(--fonte);
    box-sizing: border-box;
}
body{
    background: linear-gradient(to top, var(--cor_fundo1), var(--cor_fundo2));
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 1000px;
    margin: auto;
}
.container{
    max-width: 400px;
    flex-grow: 1;
    /* box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2); */
}
.dados_cliente{
    background-color: var(--cor1);
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 15px 0 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#buttonForm{
    background-color: var(--cor_button);
    color: var(--cor1);
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 15px 0;
    font-size: 1rem;
    transition: transform 0.3s ease, background-color 0.3s ease;
    width: 100%;
}

#buttonForm:hover{
    transform: translateY(-3px) scale(1.02);
    background-color: #1f4b49;
    border-radius: 5px;
}
.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
}
.campo{
    background-color: var(--cor_fundo3);
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border: 10px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.campo input[type="email"], 
.campo input[type="password"] {
    background-color: rgb(148, 207, 205);
    padding: 10px;
    border-radius: 5px;
    margin: 0;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
    width: 90%;
}

input[type="email"]:focus, 
input[type="password"]:focus {
    outline: none;
    border: 1px solid var(--cor2);
    box-shadow: 0 0 8px rgba(0, 255, 255, 0.6);
    background-color: var(--cor1);
}
.img{
    overflow: hidden;
    max-width: 600px;
    flex-grow: 1;
    height: 67.5%;
}
.img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 15px 15px 0;
    display: block;
}
#forgot_password{
    background-color: transparent;
    color: var(--cor_button);
    border: 1px solid var(--cor_button);
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-size: 0.9rem;
}
#forgot_password:hover{
    background-color: rgb(61, 243, 243);
    transition: 0.3s;
    color: var(--cor1);
}
#pCenter{
    text-align: center;
    margin-bottom: 20px;
}
span.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 40;
    ;
    color: var(--cor1);
    margin-right: 10px;
    font-size: 40px;
    padding-left: 10px;
}
@media (max-width: 860px) {
    body{
        background: var(--cor_fundo3);
    }
    .main{
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        margin: 30px 0;
    }
    .container, .img{
        width: 90%; 
        max-width: 400px; 
        margin: 0 auto; 
    }
    .dados_cliente{
        border-radius: 0 0 15px 15px;
        margin-bottom: 20px;
    }
    .img > img{
        border-radius: 15px 15px 0px 0px; 
        width: 100%; 
        height: auto; 
    }
}